<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\msm04z\Desktop\CDEC_on_DE0_Memory_Editor\software\CDME\CDME.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera_lite\15.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="CDME.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="CDME"/>
<stringAttribute key="spdPath" value="C:\Users\msm04z\Desktop\CDEC_on_DE0_Memory_Editor\DE0_CV_QSYS_tb.spd"/>
</launchConfiguration>
